@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
  
  color: black;
  
}
body {
    
    font-size: 16px;
    font-family: "italic";
    background-color: #E6E6E6;
    margin: auto;
    
   
}
.top-bar{
 
  padding: 10px 20px;
  display:inline;
  flex-wrap:wrap;
  justify-content:space-around;
  margin: auto;
 
  
}


.top-bar li {
  margin: 0px 50px;
  font-size: 20px;
  
  
  
}

.top-bar a:hover{
  
  background-color: black;
  padding: 5px;
}

.logo img{
  margin-left: 3rem;
  width: 40px;
  height: 40px;
}

nav{
  background: #333;
  display: flex;
  padding: 5px 20px;
  
  align-items: center;

  margin-bottom: 30px;
  
  
  
}

.my-pic{
  float: right;
  display: inline;
  margin-top: -5rem;
  margin-right: 20rem;
  

}

a, a:hover{
  text-decoration:none
}

.logo a{
  display: flex;
  align-items: center;
  font-size: 10px;
  
 
}


.about-me{

  padding: 10px 10px 10px;
  margin-right: 50rem;
  margin-left: 19rem;
  font-size: 20px;
 
}

.name{ 
   display:inline;
  padding: 10px 10px 10px;
  margin-right: 50rem;
  

  margin-left:19rem;
}







h1{
  text-decoration: underline;
  
  margin-left: 20rem;
  margin-bottom: 1rem;
}

/*I'm HERE -------------------------------------------------------------------------------------------------------------------------Oct 17*/

.menu ul{
  display: flex;
  
  
  list-style: none;
  
}
.project-x{
  margin-top: 2%;
  background-color: #333333;
  
  
}

#work {
  text-align: center;
  font-size: 40px;
  margin-top: 30%;

}

#project-1{
  padding: 100px 100px ;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px black;
  margin: 50px;
  margin-left: 5%;
  background-color: white;
  
}



#project-2{
  padding: 100px 100px ;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px black;
  margin: 50px;
  background-color: white;
  
}

#project-3{
  padding: 100px 100px ;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px black;
  margin: 50px;
background-color: white;
}

#project-4{
  padding: 100px 100px ;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px black;
  margin: 50px;
  margin-right: 5%;
  background-color: white;
 
}

#project-1 a:hover{
  color: white;
  background-color: black;
 

} 

#project-2 a:hover{
  color: white;
  background-color: black;
}

#project-3 a:hover{
  color: white;
  background-color: black;
}
#project-4 a:hover{
  color: white;
  background-color: black;
}



#skill-title{
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}


.css{
  font-size: 3rem;
  

}

.java{
  font-size: 3rem;

}

.node{
  font-size: 3rem;

}

.react{
  font-size: 3rem;

}
.html{
  font-size: 3rem;

}

.git{
  font-size: 3rem;

}
.github{
  font-size: 3rem;

}
.npm{
  font-size: 3rem;

}

#skill-logo{
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  
}


#contact-head{
  text-align: center;
  font-size: 40px;
 margin-top: 5rem;
 margin-left: 40%;
 margin-right: 40%;
}

#cont p{
  text-align: center;
  font-size: 20px;
  margin-left: 40%;
  margin-right: 40%;

}

.email{
  font-size: 4rem;

}

.phone{
  font-size: 4rem;
 
}

#contact{
  display: inline;
  margin-left: 47%;
  


}

.info-cont{
  box-decoration-break: clone;
}

footer{
  background-color: #333;
  margin-top: 5rem;

}

footer p{
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: 50%;
}

@media only screen and (max-width: 768px) {
  .top-bar li{
    font-size: 15px;
    margin: 0px 40px;
    margin-top: 10px;
    justify-content: space-evenly;
  } 

  nav{
    width: 100%;
    background: #333;
    
    margin: 0px 0px;  
    min-width: 700px;
    
  }
  
  .logo img{
   margin-left: 1px;
    width: 40;
    height: 35px;
    
  }
  
  .my-pic{
   
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    }
  
    .about-me{
      padding: 10px 10px 10px;


      margin-right: 0;
      margin-left: 0;
      font-size: 20px;
     
    }
    

    
    .name{ 
       display:inline-block;
      padding: 0;
      margin-left: 10px;
      width: 100%;
      
      
    
      
    }
    
    .menu{
      display: flex;
      display:inline-block;
      padding: 0;
      margin-left: 0;
      width: 100%;
      
    }
    

}





/*

.logo{
  flex: 1;
  
}












@media only screen and (max-width: 768px) {

  * {
    width: 100%;
    
    color: black;
    font-size: 16px;
    
  }

  /* For mobile phones: 
  #col-1{
    width: 100%;
    text-decoration: underline;

    
  }
  .my-pic img{
display: none;
  
  }

  .top-bar{
    width: 100%;
    
    display: inline
  }
}

.project-x{
  margin-top: -50%;
  background-color: #333333;
  display: inline-block;
  width: 100%;
}

#project-1 {
  padding: 100px 100px;
  display: inline;
  box-shadow: 5px 5px 5px 5px black;
  margin: 50px;
 width: 100%;
  background-color: white;

}

/*
.box{
  display: flex;
}

